[submodule "myelk-docker"]
	path = myelk-docker
	url = https://github.com/choman/myelk-docker.git
[submodule "freeipa-server"]
	path = freeipa-server
	url = https://github.com/choman/freeipa-server.git
[submodule "apt-fast"]
	path = apt-fast
	url = https://github.com/ilikenwf/apt-fast.git
[submodule "docker_vault"]
	path = docker_vault
	url = https://github.com/choman/docker_vault
